@use 'variaveis';

.about {
     padding: 5.6vw;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;

     @media (max-width: 768px) {
          display: block;
     }
     
     img {
          max-width: 100%;
          max-width: 600px;
          margin-top: 50px;
          margin-bottom: 50px;

          @media (max-width: 768px) {
               max-width: 320px;
               margin-top: 0;
               margin-bottom: 10px;
          }
     }
     
     &__text_container {
          margin-bottom: 10px;
          padding: 0 2vw;

          h2, h3 {
               text-transform: uppercase;
               margin-bottom: 25px;
          }

          p {
               font-size: 18px;
          }
     }
}