@use 'variaveis';

.hero {
     padding: 5.6vw;
     min-height: 80vh;
     background-image: url(../images/aranhahero.jpeg);
     background-size: cover;

     @media (max-width: 768px) {
          background-image: url(../images/aranhahero.jpeg);
          background-size: contain;
          background-repeat: no-repeat;
          margin-bottom: -300px;
     }
     
     .title {
          margin-top: 50px;
          margin-bottom: 30px;
          margin-left: -2%;
          
          @media (max-width: 768px) {
               margin-top: 40px;
               margin-bottom: 0;
          }
          
     }
     
     img {
          max-width: 155px;
          margin-left: 10%;

          @media (max-width: 768px) {
               max-width: 0;
          }
     }

     button {
          font-family: variaveis.$fonteTexto;
          width: 13%;
          height: 40px;
          font-size: 15px;
          margin-left: 10%;
          margin-top: 2vw;
          border-radius: 20px;
          color: variaveis.$corTexto;
          background-color: variaveis.$corDeFundo;
          text-transform: uppercase;
          border: none;
          cursor: pointer;
          letter-spacing: 1px;

          @media (max-width: 768px) {
               width: 50%;
               font-size: 13px;
               margin-left: -0.5%;
          }

               &:hover {
                    background-color: lighten(variaveis.$corDeFundo, 3%);
          }
     }
}

