@use 'variaveis';
@use 'hero';
@use 'about';
@use 'gallery';
@use 'footer';

* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     list-style: none;
     font-family: variaveis.$fonteTexto;
}

body {
     background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
     font-size: $fontSize;
     line-height: $fontSize + 10px;
     color: variaveis.$corTexto;
}

@mixin title($fontSize: 60px) {
     @include text($fontSize);
     color: variaveis.$corTexto;
}

.text--big {
     @include text(18px);
}

.text {
     @include text;
}

.title--big {
     @include title(44px);
}

.title {
     @include title;

     @media (max-width: 768px) {
          @include title(24px);
     }
}

.text-about {
     font-size: 20px;
     color: variaveis.$corSobre;

     @media (max-width: 768px) {
          font-size: 18px;
          color: variaveis.$corSobre;
     }

}

.title-about {
     font-size: 40px;
     color: variaveis.$corSobre;

     @media (max-width: 768px) {
          font-size: 22px;;
          color: variaveis.$corSobre;
     }
}